<!doctype html>
<html lang="en" ng-app='app'>
	<head>
		<title>SOsearch</title>


        <meta charset="utf-8">


		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		
		<link rel="stylesheet" href="css/style.css" />
		
		<script type='text/javascript' src='bower_components/jquery/dist/jquery.min.js'></script>
		<script type='text/javascript' src='bower_components/angularjs/angular.js'></script>
		<script type='text/javascript' src='bower_components/moment/moment.js'></script>
	<!--	<script type='text/javascript' src='bower_components/angular-route/angular-route.min.js'></script>
		<script type='text/javascript' src='bower_components/angular-resource/angular-resource.min.js'></script>
		<script type='text/javascript' src='bower_components/angular-animate/angular-animate.min.js'></script>
		<script type='text/javascript' src='bower_components/angular-sanitize/angular-sanitize.min.js'></script>
		<script type='text/javascript' src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>

	-->
		<script type="text/javascript" src='app.js'></script>
		<script type="text/javascript" src='js/pageController.js'></script>
	</head>
	<body>
	<!--	<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '358499864349109',
		      xfbml      : true,
		      version    : 'v2.0'
		    });
		    var rootScope = angular.element('body').scope().$root;
	 		rootScope.$broadcast('FB-init-ready', {});
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk/debug.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
		-->
		
		</script>
		<div class='container' ng-controller='pageController as pageCtrl'>
			<div class="page-header">
			  <h1>SOsearch <small>social searcher</small></h1>
			</div>
			<div class='row'>
				<div class='col-md-5 col-md-offset-1'>
					<div class="input-group">
				      	<input type="text" class="form-control" placeholder="keywords" 
				      	ng-model='pageCtrl.searchString'>
					      <span class="input-group-btn">
					        	<button class="btn btn-primary" type="button" ng-click='pageCtrl.search()'>search</button>
					      </span>
				    </div>
				</div>
				<div class='col-md-5'>
					<h5> results: {{pageCtrl.response.length}} </h5>
					<table class='table table-striped'>
						<tr>
							<td>#</td>
							<td>combinations</td>
						</tr>
						<tr 
						ng-repeat='item in pageCtrl.transpositions track by $id($index)'
						ng-class='{success: pageCtrl.partLoaded(item.index),
									warning: pageCtrl.partLoading(item.index)}'>
							<td>
								{{item.index + 1}}
							</td>
							<td>
								{{item.value.join(',')}}
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class='row result' ng-show='pageCtrl.response.length > 0'>
				<div class='col-md-10 col-md-offset-1'>
					<nav>
						<ul class='pagination'>
							<li>
								<a 
									href='javascript::'
									aria-label="Previous"
									ng-click='pageCtrl.setCurrentPage(pageCtrl.currentPage - 1)'>
							    	<span aria-hidden="true">&laquo;</span>
							    </a>
							</li>
							<li>
							 <a
								href='javascript::'
								ng-repeat='pageIndex in pageCtrl.pagesList'
								ng-click ='pageCtrl.setCurrentPage(pageIndex)'
								
								>
									<span>	
										{{pageIndex}}
									</span>
								</a>
							</li>
							<li>
						      	<a 
						      		
						      	 	aria-label="Next"
						      	 	ng-click='pageCtrl.setCurrentPage(pageCtrl.currentPage + 1)'>
						        	<span aria-hidden="true">&raquo;</span>
						      	</a>
						    </li>
						</ul>
					</nav>
					<table class='result-table table table-striped'>
						<tr>
							<td>#</td>
							<td>source</td>
							<td class='date'>date</td>
							<td>text</td>
						</tr>
						<tr 
						ng-repeat='item in pageCtrl.response | limitTo:pageCtrl.itemsPerPage:(pageCtrl.currentPage-1)*pageCtrl.itemsPerPage'
						ng-class="{vk: item.response_type=='vk',
						twitter: item.response_type=='twitter'
						}">
							<td>
								{{1 + $index + (pageCtrl.currentPage - 1) * pageCtrl.itemsPerPage}}
							</td>
							<td>
								{{item.response_type}}
							</td>
							<td class='date'>
								{{item.created_at}}
							</td>
							<td>
								{{item.text}}
							</td>
						</tr>
					</table>
					<nav>
						<ul class='pagination'>
							<li>
								<a 
									href='javascript::'
									aria-label="Previous"
									ng-click='pageCtrl.setCurrentPage(pageCtrl.currentPage - 1)'>
							    	<span aria-hidden="true">&laquo;</span>
							    </a>
							</li>
							<li>
							 <a
								href='javascript::'
								ng-repeat='pageIndex in pageCtrl.pagesList'
								ng-click ='pageCtrl.setCurrentPage(pageIndex)'
								
								>
									<span>	
										{{pageIndex}}
									</span>
								</a>
							</li>
							<li>
						      	<a 
						      		
						      	 	aria-label="Next"
						      	 	ng-click='pageCtrl.setCurrentPage(pageCtrl.currentPage + 1)'>
						        	<span aria-hidden="true">&raquo;</span>
						      	</a>
						    </li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- <div class='row'>
				<div class='col-md-10 col-md-offset-1'>
					<nav>
						<ul class='pagination'>
							<li ng-repeat='pageIndex in [0,1,2,3,4,5]'>
								<table class='table table-striped'>
									<!-- <tr>
										<td>#</td>
										<td>date</td>
										<td>text</td>
									</tr>
									<!-- <tr ng-repeat='item in pageCtrl.response | limitTo:20:(pageIndex * 20)'>
										<td>
											{{$index}}
										</td>
										<td>
											{{item.created_at}}
										</td>
										<td>
											{{item.text}}
										</td>
									</tr>
								</table>
							</li>
						</ul>
					</nav>
				</div>
			</div> --> 

			<!-- {{pageCtrl.message}} -->
			
		</div>
		
	</body>